.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 0 1rem;
    background-color: #f8f8f8;
}

h3 {
    font-weight: 400;
    font-size: 22px;
}

.theme-btn, .cart-btn, .back-btn {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: auto;
}

// .logo {
//     width: 1rem;
//     object-fit: contain;
// }