ul {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 3rem;
  margin: 10px;
}

.spinner-wrap {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: var(--spinner-color);
  animation: spin 0.7s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.category {
  padding: 1rem 0.5rem 3rem;
  background: none;
  color: var(--text-color);
  background-color: var(--ul-background);
  border: none;
  border-top: 1px solid #7f757f;
  text-align: left;
  font-size: 16px;
  cursor: pointer;

  &:first-child {
    border-top: 0;
  }
}

.category:hover {
  background-color: var(--hover-color);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product {
  display: flex;
  font-size: 18px;
  color: var(--text-color);
  justify-content: space-between;
  padding: 1rem 0.5rem 1.5rem;
  border: 1px solid #989398;
  border-radius: 20px;
  margin: 5px;
}

.prod-btns {
  display: flex;
  margin-right: 10px;
  gap: 20px;
}

.remove-btn,
.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  height: 3rem;
  width: 3rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 10px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.18);
}

.add-btn {
  background-color: #702963;
  color: whitesmoke;
}

.add-btn:hover {
  background-color: #90357f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.12),
    inset 0 1px 0 rgba(255, 255, 255, 0.22);
  transition: background-color 0.18s ease, box-shadow 0.18s ease;
}

.remove-btn {
  background-color: #800000;
  color: whitesmoke;
}

.remove-btn:hover {
  background-color: #970000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.12),
    inset 0 1px 0 rgba(255, 255, 255, 0.22);
  transition: background-color 0.18s ease, box-shadow 0.18s ease;
}

.qty {
  text-align: center;
  margin: 5px;
  padding-top: 0.5rem;
}
