:host {
  position: fixed;
  inset: 0;
  z-index: 10010; // above cart dialog
  display: grid;
  place-items: center;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: var(--backdrop);
}

.panel {
  position: relative;
  background: var(--panel-bg-color);
  width: min(65vw, 420px);
  max-height: 80vh;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    font-size: 20px;
  }
  mat-icon {
    color: var(--icon-color);
  }
  .msg {
    text-align: center;
    font-size: 1.05rem;
    color: var(--text-color);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;

  .spacer {
    flex: 1;
  }
  .btn {
    padding: 8px 12px;
    border: none;
    background: var(--panel-bg-color);
    cursor: pointer;

    &.primary {
      color: var(--dialog-btn-color);
    }
  }
}
