
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.

  // Reset the user agent margin.
  margin: 0;
}

html {
 font-family: Arial, Helvetica, sans-serif;
}
/* You can add global styles to this file, and also import other style files */

.no-scroll {
  overflow: hidden;
}

// light theme (default)

:root {
  --bg: #fffefe;
  --ul-background: #f6f5f5;
  --hover-color: #eae7e7;
  --add-btn-color: #702963;
  --remove-btn-color: #800000;
  --header-wrapper-bg: #f8f8f8;
  --text-color:  black;
  --backdrop: rgba(0, 0, 0, 0.63);
  --panel-bg-color: #edebed;
  --dialog-btn-color: #7d407d;
  --icon-color: #434446;
  --spinner-color: #434446;
  --icon-hover-color: #757679;
  --text-hover: #404040;
  --dialog-btn-hover: rgb(185, 145, 185);
  --circle-hover: #b9b6b978;
  --input-bg: #b7b6b6;
}

// dark theme

:root[data-theme="dark"] {
  --bg: #1b202b;
  --ul-background: #191e28;
  --add-btn-color: #702963;
  --remove-btn-color: #800000;
  --header-wrapper-bg: #191e28;
  --text-color: #f6f5f5;
  --backdrop: rgba(0, 0, 0, 0.6);
  --panel-bg-color: rgb(83, 85, 95);
  --dialog-btn-color: #ddafdd;
  --icon-color: #f6f5f5;
  --spinner-color: #f6f5f5;
  --hover-color: #28303f;
  --icon-hover-color: #b3aeae;
  --text-hover: #c7c5c5;
  --dialog-btn-hover: #f9c8f9;
  --circle-hover: rgba(106, 108, 120, 0.633);
  --input-bg: #686868;
}

html,
body {
  height: 100%;
  background: var(--bg);
  color: var(--text);
}

.theme-transition * {
  transition: background-color 0.25s, color 0.25s, border-color 0.25s,
    box-shadow 0.25s;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
